*{
    padding: 0px;
    margin: 0px;
}
.main{
    background-image: url('background.jpg');
    height: 100vh;
    background-position: center center;
    background-size: max(1300px, 100vw);
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.65;
    position: absolute;
    top:0;
    background-color: black;
}
nav{
    max-width: 150vh;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav img{
    position: relative;
    color: red;
    height: 25px;
    width:112px;
    margin-top: 20px;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
    height: 30px;
    border-radius: 5px;
}
button.red{
    background-color: red;
    color: white;
    width: 65px;
    font-weight: bolder;
}
button.trans{
    background-color: transparent;
    color: white;
    width: 100px;
    font-weight: bolder;
    border: 1px solid white;
}
.body{
    height: 70vh;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-size: 30px;
    gap: 22px;
}
.body>:nth-child(1){
    font-weight: bolder;
    font-size: 48px;
}
.body>:nth-child(2){
    font-weight: 4000px;
    font-size: 24px;
}
.body>:nth-child(3) {
    font-weight: 4000px;
    font-size: 24px;
}
.main input{ 
    width: 450px;
    background-color: transparent;
    height:54px;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 20px;
    padding: 3px 24px;
    border: 1px solid white;
}
.middle{
    background-color: red;
    height:60px;
    width: 164px;
    padding: 3px 24px;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}
.separation  {
    height: 9px;
    background-color:rgb(78, 78, 78);
    z-index: 10;
}
.black{
    width: 100%;
    height: 100%;
    background-color: black;
}
.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 80px;
    color: white;
    justify-content: center;
    align-items: center;
}
.contant{
    font-size: 24px;
    font-weight: bolder;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 500px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 500px;
}
section.first > div{
    display: flex;
    flex-direction: column;
}
section.first> div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}
section.first> div :nth-child(2) {
    font-size: 24px;
}

.Questions h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 60px;
    font-size: 60px;
    font-weight: bolder;
}
.fags{
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    color: white;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
.fags:hover{
    background-color: #414141;
}
.fags svg{
   background-color: #414141;
}
section span{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
 .end input{
    height:50px;
    max-width: 20vw;
    background-color: transparent;
    width: 1400px;
    padding: 3px 24px;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    margin-right: 20px;

}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
}


    